{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}
    Change password
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <h5>
                We've emailed you instructions for setting your new password if an account
                exist with the email you entered.<br>
                You should receive them shortly.
            </h5>
            <h6>
                If you don't receive an email, please make sure you've entered the address
                you registered with, and check your spam folder.
            </h6>
            <div class="col text-center">
                <a href="{% url 'home' %}">Go "Home" page.</a>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}
