{% extends 'base.html' %}

{% block title %}
    Detail of {{ student.first_name }} {{ student.last_name }}
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-5">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
        <a href="{% url 'students:update' student.pk %}">{{ student.last_name }}</a>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ student.first_name }}</li>
            <li class="list-group-item">
                {{ student.birthday }} {% if student.get_age %}({{ student.get_age }} years old){% endif %}
            </li>
            <li class="list-group-item">{{ student.email }}</li>
            <li class="list-group-item">{{ student.phone }}</li>
          </ul>
        </div>
        </div>
        </div>
        <br>
        <a class="btn btn-outline-dark btn-sm" href="{% url 'students:list' %}">Back</a>
{% endblock %}
