{% extends 'base.html' %}

{% block title %}
    Detail of {{ group.group_name }}
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-5">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
        <a href="{% url 'groups:update' group.pk %}">{{ group.group_name }}</a>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ group.group_description }}</li>
            <li class="list-group-item">{{ group.group_creation_date }}</li>
          </ul>
        </div>
        </div>
        </div>
        <br>
        <a class="btn btn-outline-dark btn-sm" href="{% url 'groups:list' %}">Back</a>
{% endblock %}
