{% extends 'base.html' %}

{% block title %}
    Detail of {{ group.first_name }}
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-4"></div>
    <div class="col-5">
        <div class="row">
            <div class="col-5">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
        <a href="{% url 'groups:update' group.pk %}">{{ group.group_name }}</a>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Created {{ group.group_creation_date }}</li>
            <li class="list-group-item">Start date{{ group.start_date }}</li>
            <li class="list-group-item">End date {% if group.end_date %}{{ group.end_date }}{% endif %}</li>
          </ul>
        </div>
        </div>
        </div>
        <br>
        <a class="btn btn-outline-dark btn-sm" href="{% url 'groups:list' %}">Back</a>
    </div>
    <div class="col-4"></div>
    </div>
{% endblock %}
