{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Search form
                      </button>
                    </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                      <div class="col-3">
                            <form method="get">
                                {{ filter_form.form|crispy }}
                                <input class="btn btn-outline-dark btn-sm" type="submit" value="Find">
                            </form>
                      </div>
                  </div>
                </div>
                </div>
    </div>
    <div class="row">
       {% with objects_list=filter_form.qs group_on=True %}
            {% if objects_list %}
                {% include 'includes/groups_tab.html' %}
            {% else %}
                <h5 align="center" style="padding: 50px">There are no any created groups, please create a group!</h5>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}
