{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <form method="get">
        <label for="group_name">By group name:</label>
        <input type="text" id="group_name" name="group_name"><br><br>
        <input type="submit" value="Find">
    </form>
    <br><br>
    <table>
    {% for group in groups %}
        <tr>
            <td>{{ group.pk }}</td>
            <td><a href="{% url 'groups:detail' group.pk %}">{{ group.group_name }}</a></td>
            <td>{{ group.group_description }}</td>
            <td><a href="{% url 'groups:update' group.pk %}">Edit</a></td>
            <td><a href="{% url 'groups:delete' group.pk %}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
