{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}
    Update group
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form method="post">
                {% csrf_token %}
                <table>
                    {{ form|crispy }}
                </table>
                <div class="mt-3 text-center">
                    <input class="btn btn-outline-dark btn-sm" type="submit" value="Update">
                    <a class="btn btn-outline-dark btn-sm" href="{% url 'groups:list' %}">Cancel</a>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        {% with objects_list=students group_on=False %}
            {% if objects_list %}
                {% include 'includes/students_tab.html' %}
            {% else %}
                <h5 align="center" style="padding: 50px">There are no any students in the group!</h5>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}
