{% extends 'base.html' %}

{% block title %}
    Delete student {{ teacher.first_name }} {{ teacher.last_name }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col-5">
            <form method="post">
                    {% csrf_token %}
                <p>Do you really want to remove "{{ teacher.first_name }} {{ teacher.last_name }}"?</p>
                <input class="btn btn-outline-danger btn-sm" type="submit" value="Delete">
                <a class="btn btn-outline-dark btn-sm" href="{% url 'teachers:list' %}">Cancel</a>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}
