{% extends 'base.html' %}

{% block title %}
    Detail of {{ teacher.first_name }} {{ teacher.last_name }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <a href="{% url 'teachers:update' teacher.pk %}">{{ teacher.last_name }}</a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ teacher.first_name }}</li>
                            <li class="list-group-item">
                                {% if teacher.occupation %}
                                    {{ teacher.occupation }} {% if teacher.working_place %}at
                                    {{ teacher.working_place }}{% endif %}
                                {% endif %}</li>
                            <li class="list-group-item">
                                {{ teacher.birthday }} {% if teacher.get_age %}({{ teacher.get_age }} years
                                old){% endif %}
                            </li>
                            <li class="list-group-item">{{ teacher.email }}</li>
                            <li class="list-group-item">{{ teacher.phone }}</li>
                            <li class="list-group-item">
                                {% if teacher.linkedin %}
                                    <a href="#"><i class="bi bi-linkedin"></i></a>
                                {% endif %}
                                {% if teacher.telegram %}
                                    <a href="#"><i class="bi bi-telegram"></i></a>
                                {% endif %}
                                {% if teacher.facebook %}
                                    <a href="#"><i class="bi bi-facebook"></i></a>
                                {% endif %}
                                {% if teacher.youtube %}
                                    <a href="#"><i class="bi bi-youtube"></i></a>
                                {% endif %}
                                {% if teacher.instagram %}
                                    <a href="#"><i class="bi bi-instagram"></i></a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <a class="btn btn-outline-dark btn-sm" href="{% url 'teachers:list' %}">Back</a>
        </div>
    </div>
{% endblock %}
