{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}
    Update teacher
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-5">
            <form method="post">
                {% csrf_token %}
                <table>
                    {{ form|crispy }}
                </table>
                <div class="mt-3 text-center">
                    <input class="btn btn-outline-dark btn-sm" type="submit" value="Update">
                    <a class="btn btn-outline-dark btn-sm" href="{% url 'teachers:list' %}">Cancel</a>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}
