{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}
    Logout user
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div align="center">
            <a class="btn btn-outline-dark btn-sm" href="{% url 'home' %}">Home</a>
            <a class="btn btn-outline-dark btn-sm" href="{% url 'accounts:login' %}">Login</a>
            <a class="btn btn-outline-dark btn-sm" href="{% url 'accounts:register' %}">Register</a>
        </div>
        </form>
    </div>
    </div>
{% endblock %}
